{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@config/*": ["./src/core/config/*"],
      "@models/*": ["./src/core/models/*"],
      "@providers/*": ["./src/core/providers/*"],
      "@repositories/*": ["./src/core/repositories/*"],
      "@utils/*": ["./src/core/utils/*"],
      "@middlewares/*": ["./src/core/middlewares/*"],
      "@enums/*": ["./src/core/enums/*"],
      "@services/*": ["./src/core/services/*"],
      "@shared/*": ["./src/core/shared/*"],
      "@interfaces/*": ["./src/core/interfaces/*"]
    }
  },
  "sourceMaps": true
}
